{% extends "base.html" %}
{% block title%}{{result['name']}} - Github Info.{% endblock %}
{% block css %}
<style type="text/css">
    .img-circle {
        width: 80px;
    }
</style>
{% endblock %}
{% block content %}
<div class="page-header">
    <h1><img class="img-circle" src="{{result['avatar_url']}}">
        {{result['name']}} <small>{{result['language']}}</small></h1>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">{{result['name']}} <small>{{result['language']}}</small></h1>
    </div>
    <div class="panel-body">
        <p>
             repo <span class="badge">{{result['public_repos']}}</span> / gists <span class="badge">{{result['public_gists']}}</span>
        </p>
        <p>
            following <span class="badge">{{result['following']|length}}</span> / followers <span class="badge">{{result['followers']}}</span>
        </p>
        <p>
            location: {{result['location']}}{% if result['company'] %} / {{result['company']}}{% endif %}
        </p>
        <p>
            {{result['bio']}}
        </p>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title">Following <small>{{result['following']|length}}</small></h1>
    </div>
    <div class="panel-body">
        {% for i in result['following'] %}
            <a href="{{url_for('user', name=i.login)}}"><img class="img-circle" src="{{i.avatar_url}}"></a>
        {% endfor %}
    </div>
</div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h1 class="panel-title">Raw data info.</h1>
    </div>
    <div class="panel-body">
    {% for i in result%}
        <b>{{i}}</b> / {{result[i]}}<br>
    {% endfor %}
    </div>
</div>
{% endblock %}
